html{
    margin:0;
    border: solid;
    height: 100%;
}

header{
    margin: 0;
    color: #181e1e;
    font-family:sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    width: inherit;
    height: auto;
    border-bottom: solid;
}

body{
    background-image: linear-gradient(to top right, grey, white);
    background-repeat: no-repeat;
    padding: 2rem;
    width: inherit;
    height: 100%;
}

h1{

    text-align: center;
    color: black;
    font-family:sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 3px 3px 10px 1px #000000;
    
}
h2{
    font-size: 25px;
    text-align: center;
    color: black;
    font-family:sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 3px 3px 10px 1px #000000;
    
}

.img-container{
    max-width: 100%;
    max-height: 100%;
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px #000000;
}

a:any-link{
    color: black;
}

a:hover{
    background-color: grey;
    border-radius: 3px;
    
}

.lyst{
    list-style-type: square;
}
ul { 
    display:table; 
    margin:0 auto;

}

li{
    line-height: 2rem;
    list-style-type: none;
}
.home, a:link{
    text-align: center;
    font-size:20px;
    padding-top:0px;
    text-decoration: none;
   
}

@media screen and (max-width:600px, max-height:600px){
    
    header{
        font-size: 50%;
    }
    
    h1,h2{
        font-size: 2px;;
    }
    

}

@media screen and (min-width:600px){
    
    header{
        font-size: 50px;
        
    }
    img{
        display: none;
    }
    


}
