

#map {
       height: 100%;
      }
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    font-size: 3rem;
    color: #181e1e;
    font-family:monospace;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: auto;
    border-bottom: solid;
    background-image: linear-gradient(to top right, grey, white);
    
}
