#map {
    height: 87%;
}
html {
    height: 100%;
    margin: 0;
    padding: 0px;  
}

header{
    margin:0;
    font-size: 20px;
    font-weight: bold;
    color: #181e1e;
    font-family:sans-serif;
    text-align: center;
    border-radius: 1px;
    width: 100%;
    height: auto;
    border-bottom: none;
    background-image: linear-gradient(to top right, lightgrey, white);
}

body{
    margin: 0;
    padding:1px;
    width:auto;
    height: 100%;
    border-radius:1px;
}
h2{
    font-size:20px;
    margin: 0;
    color: #181e1e;
    font-family:sans-serif;
    text-align: center;
    border-radius: 1px;
    border-bottom: none;
    background-image: linear-gradient(to top right, lightgrey, white);
}

a:any-link{
    text-decoration: none;
    color: black
}

a:hover{
    background-color: grey;
    border-radius: 3px;
    
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    text-align: center;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width:100%;
}

#pac-input:focus {
border-color: #4d90fe;
}
